.container {
  background: url(../public/images/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  flex: 1;
}

@media screen and (max-width: 1080px) {
  .container {
    background: linear-gradient(to right, #340881, #2473d8);
  }
}
